@tailwind base;
@tailwind components;
@tailwind utilities;


.login_form{
    width: 450px;
    margin: 60px auto;
    height: 450px;
}

.register_form{
    width: 450px;
    margin: 60px auto;
    min-height: 450px;
}